{% from 'administrator/macro/_honoraries_pagination.html' import m_pagination %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Datos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>RUT</th>
                                <th>Asignado</th>
                                <th>Solicitado</th>
                                <th>Razón</th>
                                <th>Fecha</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% for honorary in honoraries.items %}
                            <tbody>
                                <tr>
                                    <td>{{ honoraries['visual_rut'] }}</td>
                                    <td>{{ honoraries['requested_by'] }}</td>
                                    <td>{{ honoraries['assigned_to'] }}</td>
                                    <td>{{ honoraries['reason'] }}</td>
                                    <td>{{ honoraries['added_date'] }}</td>
                                    <td>
                                        <a title="Borrar Honorario" href="" class="btn btn-warning">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}

                        
                    </table>
                    <hr>
                    {{ m_pagination(honoraries) }}
                </div>
            </div>
        </div>
    </div>
</section>