<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Kardex
                            {% if is_active == 1 %}
                                <a href="{{ url_for('kardex_data.create', rut=rut) }}" class="btn btn-success">Agregar</a>
                            {% endif %}
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Documento</th>
                                <th>Fecha</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% for kardex_datum in kardex_data %}
                            <tbody>
                                <tr>
                                    <td>{{ kardex_datum['document_type'] }}</td>
                                    <td>{{ kardex_datum['added_date']|datetime("dd-MM-yyyy") }}</td>
                                    <td>
                                        {% if is_active == 1 %}
                                            <a href="{{ url_for('kardex_data.delete', rut=rut, id=kardex_datum['id']) }}" class="btn btn-danger">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        {% endif %}
                                        <a href="{{ url_for('kardex_data.download', id=kardex_datum['id'], rut=rut) }}" class="btn btn-success">
                                            <i class="fa fa-arrow-down"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a href="{{ url_for('uniforms.index', rut=rut) }}" class="btn btn-primary">Ir a Uniforme</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>