{%  include 'human_resource/layouts/header.html' %}

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {%  include 'human_resource/layouts/navbar.html' %}
        {%  include 'human_resource/layouts/aside.html' %}
        
        {% block content %}
            
        {% endblock %}
    </div>
</body>
{%  include 'human_resource/layouts/footer.html' %}
<script src="{{ url_for("static", filename="plugins/jquery/jquery.min.js") }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ url_for("static", filename="plugins/jquery-ui/jquery-ui.min.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/jquery-mask/dist/jquery.mask.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/signature-pad-main/jquery.signaturepad.js") }}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src="{{ url_for("static", filename="plugins/bootstrap/js/bootstrap.bundle.min.js") }}"></script>

<script src="{{ url_for("static", filename="dist/js/custom.js") }}"></script>
<script src="{{ url_for("static", filename="dist/js/jquery-rut.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/signature-pad-main/assets/json2.min.js") }}"></script>
<!-- overlayScrollbars -->
<script src="{{ url_for("static", filename="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js") }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for("static", filename="dist/js/adminlte.js") }}"></script>
<!-- Incluir la librería marked desde el CDN de cdnjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/3.0.7/marked.min.js"></script>

<script src="https://kit.fontawesome.com/6839a22f45.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js'></script> 
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'agendaWeek'
          },
          defaultView: 'agendaWeek',
          minTime: '07:00:00',
          maxTime: '23:30:00', 
          events: function(start, end, timezone, callback) {
            $.ajax({
              url: '/mesh_data/get_data_per_branch_office', // Cambia esto por la URL correcta de tu servidor
              type: 'GET',
              dataType: 'json',
              success: function(response) {
                console.log(response)
                var eventos = [];
      
                // Transforma los datos obtenidos en el formato esperado por FullCalendar
                for (var i = 0; i < response.length; i++) {
                  console.log(response[i].color)
                  var evento = {
                    title: response[i].title,
                    start: response[i].start,
                    end: response[i].end,
                    color: response[i].color,
                    employee: response[i].employee
                  };
                  eventos.push(evento);
                }
      
                callback(eventos);
              },
              error: function(xhr, status, error) {
                console.error(error);
              }
            });
          },
          // Personalización de la apariencia y la leyenda
          eventRender: function(event, element) {
            // Agregar una clase CSS para personalizar los eventos
            element.addClass('custom-event');

            // Obtener el contenedor de la leyenda
            var legend = $('#legend');


            // Verificar si ya existe un elemento para el color del evento
            var legendItem = legend.find('.legend-item[data-color="' + event.color + '"]');

            if (legendItem.length === 0) {
              // Si no existe, crear un nuevo elemento para el color del evento
              legendItem = $('<div class="legend-item">')
                .attr('data-color', event.color)
                .appendTo(legend);

              // Crear el texto descriptivo del color dentro del elemento de la leyenda
              $('<div class="legend-text">')
                .text(event.employee)
                .css('color', event.color)
                .appendTo(legendItem);
            }
          }
        });
    });
</script>