<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <h3>
                    Planificado
                </h3>
                <hr>
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Día</th>
                            <th>Entrada</th>
                            <th>Salida</th>
                        </tr>
                    </thead>
                    {% for datum in mesh_data %}
                        <tbody>
                            <tr>
                                <td>{{ datum.date|datetime("dd-MM-yyyy") }}</td>
                                <td>{{ datum.day_of_week }}</td>
                                <td>{{ datum.start }}</td>
                                <td>{{ datum.end }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-5">
                <h3>
                    Registrado
                </h3>
                <hr>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Entrada</th>
                            <th>Salida</th>
                        </tr>
                    </thead>
                    {% for row in clock_attendances %}
                        <tbody>
                            <tr>
                                {% if row.status[0] == 1 %}
                                    <td>
                                        {% if row.start[0] != 0 %}
                                            {{ row.start[0] }}
                                        {% endif %}
                                        {% if row.start[1] != 0 %}
                                            {{ row.start[1] }}
                                        {% endif %}
                                    </td>
                                {% elif row.status[0] == 2 %}
                                    <td style="background: red; color: white;">
                                        {% if row.start[0] != 0 %}
                                            {{ row.start[0] }}
                                        {% endif %}
                                        {% if row.start[1] != 0 %}
                                            {{ row.start[1] }}
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td style="color:black;">
                                        Sin Marca
                                    </td>
                                {% endif %}
                                {% if row.status[1] == 1 %}
                                    <td>
                                        {% if row.end[0] != 0 %}
                                            {{ row.end[0] }}
                                        {% endif %}
                                        {% if row.end[1] != 0 %}
                                            {{ row.end[1] }}
                                        {% endif %}
                                    </td>
                                {% elif row.status[1] == 2 %}
                                    <td style="background: red; color: white;">
                                        {% if row.end[0] != 0 %}
                                            {{ row.end[0] }}
                                        {% endif %}
                                        {% if row.end[1] != 0 %}
                                            {{ row.end[1] }}
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td style="color: black;">
                                        Sin Marca
                                    </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    {% endfor %}


                </table>
            </div>
            <div class="col-2">
                <h3>
                    Controlado
                </h3>
                <hr>
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Total</th>
                        </tr>
                    </thead>
                    {% for datum in total_mesh_clock_data %}
                        <tbody>
                            <tr>
                                <td>{{ datum.resta_total }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Semana</th>
                            <th>Horas</th>
                            <th>Días de Trabajo</th>
                            <th>Días Libres</th>
                        </tr>
                    </thead>
                    {% for datum in mesh_data_grouped_by_week %}
                        <tbody>
                            <tr>
                                <td>{{ datum.week }}</td>
                                <td>{{ datum.masked_total_hours }}</td>
                                <td>{{ datum.working_days }}</td>
                                <td>{{ datum.free_days }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-5">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Semana</th>
                            <th>Horas</th>
                            <th>Días</th>
                        </tr>
                    </thead>
                    {% for datum in clock_attendances_grouped_by_week %}
                        <tbody>
                            <tr>
                                <td>{{ datum.week }}</td>
                                <td>{{ datum.total }}</td>
                                <td>{{ datum.mark_date }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-2">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Horas</th>
                        </tr>
                    </thead>
                    {% for datum in total_mesh_clock_grouped_by_week %}
                        <tbody>
                            <tr>
                                <td>{{ datum.total_sum }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>