<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <h4>
                    Planificado
                </h4>
                <hr>
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Día</th>
                            <th>Entrada</th>
                            <th>Salida</th>
                        </tr>
                    </thead>
                    {% for datum in mesh_data %}
                        <tbody>
                            <tr>
                                <td>{{ datum.date|datetime("dd-MM-yyyy") }}</td>
                                <td>{{ datum.day_of_week }}</td>
                                <td>{{ datum.start }}</td>
                                <td>{{ datum.end }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-5">
                <h4>
                    Registrado
                </h4>
                <hr>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Entrada</th>
                            <th>Salida</th>
                        </tr>
                    </thead>
                    {% for row in clock_attendances %}
                        <tbody>
                            <tr>
                                {% if row.status_1 == '2' %}
                                    <td style="background-color:red; color: white;">
                                        {{ row.start }}
                                    </td>
                                {% else %}
                                    <td>
                                        {{ row.start }}
                                    </td>
                                {% endif %}
                                {% if row.status_2 == '2' %}
                                    <td style="background-color:red; color: white;">
                                        {{ row.end }}
                                    </td>
                                {% else %}
                                    <td>
                                        {{ row.end }}
                                    </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    {% endfor %}


                </table>
            </div>
            <div class="col-2">
                <h4>
                    Controlado
                </h4>
                <hr>
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Total</th>
                        </tr>
                    </thead>
                    {% for datum in total_mesh_clock_data %}
                        <tbody>
                            <tr>
                                <td>{{ datum.total }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Semana</th>
                            <th>Horas</th>
                            <th>Días de Trabajo</th>
                            <th>Días Libres</th>
                        </tr>
                    </thead>
                    {% for datum in mesh_data_grouped_by_week %}
                        <tbody>
                            <tr>
                                <td>{{ datum.week }}</td>
                                <td>{{ datum.masked_total_hours }}</td>
                                <td>{{ datum.working_days }}</td>
                                <td>{{ datum.free_days }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-5">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Horas</th>
                        </tr>
                    </thead>
                    {% for datum in total_grouped_by_week %}
                        <tbody>
                            <tr>
                                <td>{{ datum.formatted }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-2">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Horas</th>
                        </tr>
                    </thead>
                    {% for datum in clock_attendances_grouped_by_week %}
                        <tbody>
                            <tr>
                                <td>{{ datum.formatted }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
           
        </div>
    </div>
</section>