<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Agregar Documentación</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- form start -->
                        <form role="form" action="{{ url_for('documentations.store') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Contenido</label>
                                            <textarea class="form-control" id="description" name="description" rows="20"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Resultado</label>
                                            <div id="markdown_view"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div id="indice">
                                            <ul>
                                              <li>
                                                <a href="#css">CSS</a>
                                              </li>
                                              <li>
                                                <a href="#html5">HTML5</a>
                                              </li>
                                              <li>
                                                <a href="#php">PHP</a>
                                              </li>
                                            </ul>
                                          </div>
                                          <section>
                                            <h3 id="css">Tutorial de CSS</h3>
                                            <div class="section-content">
                                              Un texto MUY largo....
                                            </div>
                                          </section>
                                          <section>
                                            <h3 id="html5">HTML 5</h3>
                                            <div class="section-content">
                                              Otro texto muy largo sobre HTML5
                                            </div>
                                          </section>
                                          <section>
                                            <h3 id="php">PHP</h3>
                                            <div class="section-content">
                                              Otro texto muy largo sobre PHP
                                            </div>
                                          </section>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <input type="hidden" value="{{ rut }}" class="form-control" id="exampleInputEmail1" name="rut">
                            
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Previsualizar</button>

                                <a href="{{ url_for('documentations.index') }}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                        <!-- form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>