
<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Datos
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="legend"></div>

                        <div id="report_per_branch_office"></div>
                        <input type="hidden" value="{{ branch_office_id }}" id="branch_office_id">
                        <input type="hidden" value="{{ period }}" id="period">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>